<%= form_for(flightclass) do |f| %>
  <% if flightclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flightclass.errors.count, "error") %> prohibited this flightclass from being saved:</h2>

      <ul>
      <% flightclass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flightclass %>
    <%= f.text_field :flightclass %>
  </div>

  <div class="field">
    <%= f.label :classcode %>
    <%= f.text_field :classcode %>
  </div>

  <div class="field">
    <%= f.label :addon %>
    <%= f.number_field :addon %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
