<table class="form">
<%= form_tag(controller: "jalpoint", action: "index", :remote => true) do %>
<!--<tr>
	<td>USER</td>
	<td><%= text_field_tag("user", @user.email) %></td>
</tr>-->
<tr>
	<td>出発日</td>
	<td><%= date_field_tag("flightdate") %></td>
</tr>
<tr>
	<td>出発</td>
	<td>
    <%= select_tag :departure, options_from_collection_for_select(City.all, :cityname,:cityname), :include_blank => true %>
    </td>
    <% if @user.adminflag == 1 then %>
    <td style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-size:10pt">
    <a href="/cities">※都市管理ページ</a></td>
    <% end %>
</tr>
<tr>
    <td>到着</td>
    <td>
    <%= select_tag :destination, options_from_collection_for_select(City.all,
     :cityname,:cityname), :include_blank => true %>
    </td>
</tr>
<tr>
    <td>クラス</td>
    <td>
    <%= select_tag :flightclass, options_from_collection_for_select(Flightclass.all, 
     :flightclass,:flightclass), :include_blank => true, :remote => true %>
    </td>
    <% if @user.adminflag == 1 then %>
    <td style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-size:10pt">
    <a href="/flightclasses">※クラス管理ページ</a></td>
    <% end %>
</tr>
<tr>
    <td>区間マイル</td>
    <td>
    <%= number_field_tag("mileage", {controller: "jalpoint", action: "calpoint"}, :remote => true) %>
    </td>
    <% if @user.adminflag == 1 then %>
    <td style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-size:10pt">
    <a href="/campaigns">※ポイントキャンペーン管理ページ</a></td>
    <% end %>
</tr>
<tr>
    <td>登録マイル</td>
    <td><%= number_field_tag("registeredmileage") %></td>
</tr>
<!--<td>Fly On Point</td>
<td><%= number_field_tag("fop") %></td>
</tr>-->
<tr>
    <td>登録FLY ONポイント</td>
    <td><%= number_field_tag("registeredfop") %></td>
</tr>
<tr>
    <td>金額</td>
    <td><%= number_field_tag("price") %></td>
</tr>
<tr>
    <td style="background-color:#FFFFFF;"></td>
    <td style="background-color:#FFFFFF;">
    <%= submit_tag("Add" ,:style => "WIDTH:200px;HEIGHT:50px;color:blue; font-size:20pt") %></td>
</tr>
<% end %>
</table>

<div style="font-size:15pt;color:blue;">
<%=link_to ' logout&gt;&gt;' .html_safe, destroy_user_session_path, method: :delete %>
</div>
<br>

<table class="form">
<tr>
    <td>登録済</br>マイル</td>
    <td>登録</br>予定込み</br>マイル</td>
</tr>
<tr>
    <td><%= @ttlmilval.registeredmileage %></td>
    <td><%= @ttlmilest.registeredmileage %></td>
</tr>
</tabel>

<table class="form">
<tr>
    <td>年</td>
    <td>FLY ON</br>ポイント</td>
    <td>次の</br>JGCRankまで</br>必要FOP</td>
    <td>総額金額</td>
    <td>FLY ON</br>ポイント</br>単価</td>
    <td>達成</br>JGC単価</td>
</tr>
<% @total.each do |fopyear| %>
<tr>
    <td><%= fopyear.year %></td>
    <td><%= fopyear.registeredfop %></td>
        <% if fopyear.registeredfop.to_i < 50000 then %>
        <% nextjgc = 50000 - fopyear.registeredfop.to_i %>
        <% elsif fopyear.registeredfop.to_i >= 50000 && fopyear.registeredfop.to_i < 80000 then %>
        <% nextjgc = 80000 - fopyear.registeredfop.to_i %>
        <% elsif fopyear.registeredfop.to_i >= 80000 && fopyear.registeredfop.to_i < 100000 then %>
        <% nextjgc = 100000 - fopyear.registeredfop.to_i %>
        <% else %>
        <% nextjgc = 0 %>
        <% end %>
    <td><%= nextjgc %></td>
    <td><%= fopyear.price %>円</td>
        <% foprate = fopyear.price.to_f / fopyear.registeredfop.to_f%>
    <td><%= foprate.round(2) %>円</td>
        <% if fopyear.registeredfop.to_i < 50000 then %>
        <% jgcrate = fopyear.price.to_f / fopyear.registeredfop.to_f %>
        <% else %>
        <% jgcrate = fopyear.price.to_f / 50000 %>
        <% end %>
    <td><%= jgcrate.round(2) %>円</td>
</tr>
<% end %>
</table>


<table rules="all" frame="border" style="table-layout:fixed;">
<tr>
    <th> 修正 </th>
    <th> 削除 </th>
    <!--<th>ID</th>
	<th>USER</th>-->
    <th> 出発日 </th>
    <th> 出発 </th>
    <th> 到着 </th>
    <th> クラス </th>
    <th> 区間</br>マイル </th>
    <th> 登録</br>マイル </th>
    <th> FLY ON</br>ポイント </th>
    <th> 登録 </br> FLY ON</br>ポイント </th>
    <th> 金額 </th>
</tr>
<% @mile.each do |obj| %>
<tr>
    <td><a href="/jalpoint/edit/<%= obj.id %>">Edit</a></td>
    <td><a href="javascript:delData(<%= obj.id %>);">Delete</a></td>
    <!--<td><a href="/jalpoint/edit/<%= obj.id %>"><%= obj.id %></a></td>
	<td><%= obj.username %></td>-->
    <td><%= obj.flightdate %></td>
    <td><%= obj.departure %></td>
    <td><%= obj.destination %></td>
    <td><%= obj.flightclass %></td>
    <td><%= obj.mileage %></td>
    <td><%= obj.registeredmileage %></td>
    <td><%= obj.fop %></td>
    <td><%= obj.registeredfop %></td>
    <td><%= obj.price %></td>
</tr>
<% end %>
</table>
