<div style="font-size:12pt;color:blue;">
<%=link_to ' ログアウト&gt;&gt;' .html_safe, destroy_user_session_path, method: :delete %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.jal.co.jp/cgi-bin/jal/milesearch/save/flt_mile_save.cgi" target="_blank">JAL計算ページ&gt;&gt;</a>
</div>
</br>

<table class="result" rules="all">
<tr>
    <th>登録済</br>マイル</th>
    <th>登録</br>予定込み</br>マイル</th>
    <th>現在の</br>達成ランク</th>
    <th>現在の</br>FLY ONポイント</th>
</tr>
<tr>
    <td><%= @ttlmilval.registeredmileage.to_s(:delimited) %></td>
    <td><%= @ttlmilest.registeredmileage.to_s(:delimited) %></td>
    <% if @nowrank.nowfop >= 100000 then %>
    <% rank = "ダイヤモンド" %>
    <% elsif @nowrank.nowfop >= 80000 && @nowrank.nowfop < 100000 then %>
    <% rank = "プレミア" %>
    <% elsif @nowrank.nowfop >= 50000 && @nowrank.nowfop < 80000 then %>
    <% rank = "サファイア" %>
    <% elsif @nowrank.nowfop >= 30000 && @nowrank.nowfop < 50000 then %>
    <% rank = "クリスタル" %>
    <% elsif @nowrank.nowfop < 30000 then %>
    <% rank = "なし" %>
    <% end %>
    <td><%= rank %></td>
    <td><%= @nowrank.nowfop.to_s(:delimited) %></td>
</tr>
</tabel>

<table style="border-spacing: 10px;">
<tr></tr>
</table>

<table class="result" rules="all">
<tr>
    <th>年</th>
    <th>FLY ON</br>ポイント</th>
    <th>次の</br>JGCRankまで</br>必要FOP</th>
    <th>総額金額</th>
    <th>FLY ON</br>ポイント</br>単価</th>
    <th>達成</br>JGC単価</th>
</tr>
<% @total.each do |fopyear| %>
<tr>
    <td><%= fopyear.year %></td>
    <td><%= fopyear.registeredfop.to_s(:delimited) %></td>
        <% if fopyear.registeredfop.to_i < 50000 then %>
        <% nextjgc = 50000 - fopyear.registeredfop.to_i %>
        <% elsif fopyear.registeredfop.to_i >= 50000 && fopyear.registeredfop.to_i < 80000 then %>
        <% nextjgc = 80000 - fopyear.registeredfop.to_i %>
        <% elsif fopyear.registeredfop.to_i >= 80000 && fopyear.registeredfop.to_i < 100000 then %>
        <% nextjgc = 100000 - fopyear.registeredfop.to_i %>
        <% else %>
        <% nextjgc = 0 %>
        <% end %>
    <td><%= nextjgc.to_s(:delimited) %></td>
    <td><%= fopyear.price.to_s(:delimited) %>円</td>
        <% foprate = fopyear.price.to_f / fopyear.registeredfop.to_f%>
    <td><%= foprate.round(2) %>円</td>
        <% if fopyear.registeredfop.to_i < 50000 then %>
        <% jgcrate = fopyear.price.to_f / fopyear.registeredfop.to_f %>
        <% else %>
        <% jgcrate = fopyear.price.to_f / 50000 %>
        <% end %>
    <td><%= jgcrate.round(2) %>円</td>
</tr>
<% end %>
</table>
</br>

<table class="form">
<%= form_tag(controller: "jalpoint", action: "index", :remote => true) do %>
<tr>
	<td>出発日</td>
	<td><%= date_field_tag("flightdate") %></td>
</tr>
<tr>
	<td>出発</td>
	<td>
    <%= select_tag :departure, options_from_collection_for_select(City.all, :cityname,:cityname), :include_blank => true %>
    </td>
    <% if @user.adminflag == 1 then %>
    <td style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-size:10pt">
    <a href="/cities" target="_blank">※都市管理ページ</a></td>
    <% end %>
</tr>
<tr>
    <td>到着</td>
    <td>
    <%= select_tag :destination, options_from_collection_for_select(City.all,
     :cityname,:cityname), :include_blank => true %>
    </td>
</tr>
<tr>
    <td>クラス</td>
    <td>
    <%= select_tag :flightclass, options_from_collection_for_select(Flightclass.all, 
     :flightclass,:flightclass), :include_blank => true, :remote => true %>
    </td>
    <% if @user.adminflag == 1 then %>
    <td style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-size:10pt">
    <a href="/flightclasses" target="_blank">※クラス管理ページ</a></td>
    <% end %>
</tr>
<tr>
    <td>区間マイル</td>
    <td>
    <%= number_field_tag("mileage", {controller: "jalpoint", action: "calpoint"}, :remote => true) %>
    </td>
    <% if @user.adminflag == 1 then %>
    <td style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-size:10pt">
    <a href="/campaigns" target="_blank">※ポイントキャンペーン管理ページ</a></td>
    <% end %>
</tr>
<tr>
    <td>登録マイル</td>
    <td><%= number_field_tag("registeredmileage") %></td>
</tr>
<!--<td>Fly On Point</td>
<td><%= number_field_tag("fop") %></td>
</tr>-->
<tr>
    <td>登録FLY ONポイント</td>
    <td><%= number_field_tag("registeredfop") %></td>
</tr>
<tr>
    <td>金額</td>
    <td><%= number_field_tag("price") %></td>
</tr>
<tr>
    <td style="background-color:#FFFFFF;"></td>
    <td style="background-color:#FFFFFF;">
    <%= submit_tag("登録", :class=>"regist" )%></td>
</tr>
<% end %>
</table>

<table class="result"  rules="groups">
<thead class="reg">
<tr>
    <th> 修正 </th>
    <th> 削除 </th>
    <th> 出発日 </th>
    <th> 出発 </th>
    <th> 到着 </th>
    <th> クラス </th>
    <th> 区間</br>マイル </th>
    <th> 登録</br>マイル </th>
    <th> FLY ON</br>ポイント </th>
    <th> 登録 </br> FLY ON</br>ポイント </th>
    <th> 金額 </th>
</tr>
</thead>
<% @mile.each do |obj| %>
<tbody class="reg">
<tr>
    <td><a href="/jalpoint/edit/<%= obj.id %>">Edit</a></td>
    <td><a href="javascript:delData(<%= obj.id %>);">Delete</a></td>
    <td><%= obj.flightdate %></td>
    <td><%= obj.departure %></td>
    <td><%= obj.destination %></td>
    <td><%= obj.flightclass %></td>
    <td><%= number_with_delimiter(obj.mileage) %></td>
    <td><%= number_with_delimiter(obj.registeredmileage) %></td>
    <td><%= number_with_delimiter(obj.fop) %></td>
    <td><%= number_with_delimiter(obj.registeredfop) %></td>
    <td><%= number_with_delimiter(obj.price) %>円</td>
</tr>
</tbody>
<% end %>
</table>
