<!DOCTYPE html>
<html>
	<head>
		<title>JalPoint</title>
		<%= csrf_meta_tags %>


		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>


	<body>
		<h1 class="title">マイル・FOP : <%=@user.email%></h1>
		<%= yield %>
		<div class="footer">copyright Black Valley</div>
	</body>
</html>